@font-face {
    font-family: "Bebastitle";
    src: url("../public/BebasNeue-Regular.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cairobody";
    src: url("../public/Cairo-Regular.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;